<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <% include ./header %>
  </head>
  <body>
    <div class="container">
      <% include ./navbar %>
      <content>
        <h1>
          My contact info:
        </h1>
        <br />
        <div class="projectitem">
          <p>Email: tonyyao95@gmail.com</p>
        </div>
        <div class="projectitem">
          <p>Phone: +1 (647) 470-8886</p>
        </div>
      </content>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </div>
  </body>
</html>
