<!DOCTYPE html>
<html>
  <% include ./header %>
  <body>
    <% include ./navbar %>
    <div class="container">
      <p>This page cannot be found</p>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </div>
  </body>
</html>
