<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <% include ./header %>
  </head>
  <body>
    <% include ./navbar %>
    <content>
      <h1>
        This page cannot be found.
      </h1>
    </content>
  </body>
</html>
