<!DOCTYPE html>
<html>
  <head>
    <title>Tony Yao</title>
    <% include ./header %>
  </head>
  
  <body>  
    <% include ./navbar %>

    <content>
        <h1>
            Welcome to Tony Yao's portfolio.
        </h1>
        <br>
        <div class="projectitem">
            <a href="/projects">
              PROJECTS
            </a>
        </div>
        <div class="projectitem">
            <a href="/dxy_resume2019.pdf">
              RESUME
            </a>
        </div>
    </content>

    </div>
  </body>
</html>
