<!DOCTYPE html>
<html>
  <% include ./header %>
  <body>
    <% include ./navbar %>

    <content>
        <h1>
            Welcome to Tony Yao's portfolio.
        </h1>
        <br>
        <a href="/projects" class="homepageitem">
            PROJECTS
        </a>        
        <a href="/dxy_resume2019.pdf" class="homepageitem">
            RESUME
        </a>
    </content>

    </div>
  </body>
</html>
