<nav>
  <a href="/projects" class="block">
    <div class="item">
      PROJECTS
    </div>
  </a>
  <a href="/" class="block">
    <div class="item">
      <img src="/logo.png" width="50px" height="50px" />
    </div>
  </a>
  <a href="/contact" class="block">
    <div class="item">
      CONTACT
    </div>
  </a>
  <div class="line"></div>
</nav>
