<nav>
  <a href="#projects" class="block">
    PROJECTS
  </a>
  <a href="/" class="block">
    <img src="/logo.png" height="50px" />
  </a>
  <a href="#contact" class="block">
    CONTACT
  </a>
  <div class="line"></div>
</nav>
