<!DOCTYPE html>
<html>
  <head>
    <title>Tony Yao's Projects</title>
    <% include ./header %>
  </head>
  <body>
    <% include ./navbar %>

    <content>
        <h1>
           A list of my projects.
        </h1>
        <br>
        <div class="projectitem">
            <p>
              Tutor All (WORK IN PROGRESS)
            </p>
            <div class="line"></div>
            <p>
                This app provides a platform for on-demand tuturing of all disciplines. Its database of choice is <green>MongoDB</green> and P2P video communication is facilitated by <green>WebRTC</green>.
            </p>
            <div class="line"></div>

            <a href="/tutorall">
              Check it out
            </a>
        </div>
        <div class="projectitem">
            <p>
              THIS WEBSITE
            </p>
            <div class="line"></div>
            <p>
                This website is stylized with custom css, served with <green>node.js</green>, containerized with <green>Docker</green>, and hosted with <green>AWS ECS</green>
            </p>
            <div class="line"></div>
            <a href="/">
              Homepage
            </a>
            <a href="https://github.com/dingxuanyao/mysite">
              Source Code
            </a>
        </div>
        <div class="projectitem">
            <p>
              SNAKE
            </p>
            <div class="line"></div>
            <p>
                This remake of snake is rendered with Javascript. Its high scores are hosted by <green>MySQL</green> and manipulated with APIs serviced by <green>node.js</green>
            </p>
            <div class="line"></div>
            <a href="/snake">
              Play game
            </a>
            <a href="https://github.com/dingxuanyao/nodesnakeappsql">
              Source Code
            </a>
        </div>
        
    </content>

    </div>
  </body>
</html>
