<!DOCTYPE html>
<html>
  <head>
    <title>Tony Yao's Projects</title>
    <% include ./header %>
  </head>
  <body>
    <% include ./navbar %>

    <content>
        <h1>
           A list of my projects.
        </h1>
        <br>
        <div class="projectitem">
            <p>
              THIS WEBSITE
            </p>
            <div class="line"></div>
            <p>
                This website is stylized with custom css, served with node.js, and hosted with AWS ECS
            </p>
            <div class="line"></div>
            <a href="/">
              Homepage
            </a>
            <a href="https://github.com/dingxuanyao/mysite">
              Source Code
            </a>
        </div>
        <div class="projectitem">
            <p>
              SNAKE
            </p>
            <div class="line"></div>
            <p>
                This remake of snake is rendered with Javascript. Its high scores are hosted by MySQL and manipulated with APIs serviced by node.js
            </p>
            <div class="line"></div>
            <a href="/snake">
              Play game
            </a>
            <a href="https://github.com/dingxuanyao/nodesnakeappsql">
              Source Code
            </a>
        </div>
        <div class="projectitem">
            <p>
              WIP
            </p>
            <div class="line"></div>
            <p>
                Work in progress
            </p>
            <div class="line"></div>

            <a href="#">
              Source Code
            </a>
        </div>
    </content>

    </div>
  </body>
</html>
