<!DOCTYPE html>
<html>
  <head>
    <title>Tutor All</title>
    <% include ../header %>
  </head>
  <body>
    <% include ../navbar_tutorall %>
    <content>
      <div class="projectitem">
        <p>
          Register for an account with Tutor All
        </p>
        <div class="line"></div>
        <form>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" value="" />
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
          <div id="errormsg"></div>
        </form>

        <a href="#" onclick="tutorallRegister()">
          Register
        </a>
      </div>
    </content>
    <script>
      function tutorallRegister() {
        var xhttp = new XMLHttpRequest();
        params = {
          username: document.getElementById("username").value,
          password: document.getElementById("password").value
        };
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
            body = JSON.parse(this.responseText);
            window.location.replace("/tutorall");
          } else if (this.readyState == 4 && this.status == 400) {
            body = JSON.parse(this.responseText);
            document.getElementById("errormsg").innerHTML = body.msg;
            console.log(body.msg);
          }
        };
        xhttp.open("POST", "/tutorall/api/register", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(params));
      }
    </script>
  </body>
</html>
