<!DOCTYPE html>
<html>
  <head>
    <title>Tutor All</title>
    <% include ../header %>
  </head>
  <body onload="parseToken()">
    <% include ../navbar_tutorall %>
    <content>
      <h1>
        Teach a topic:
      </h1>
      <div class="projectitem">
        <div class="line"></div>
        <form>
          <label for="topic">Topic:</label>
          <input type="text" name="topic" id="topic" value="" />
          <div id="errormsg"></div>
        </form>
        <a href="#" onclick="startRoom()">
          Start teaching
        </a>
      </div>
      <h1>
        Join a room:
      </h1>
      <div class="projectitem" id="rooms"></div>
    </content>
    <script>
      let username;
      let rooms;
      function parseToken() {
        var xhttp = new XMLHttpRequest();
        params = {
          token: localStorage.getItem("token")
        };
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            body = JSON.parse(this.responseText);
            if (body.success == false) {
              window.location.replace("/tutorall");
            }
            username = body.username;
          } else if (this.readyState == 4 && this.status == 400) {
            body = JSON.parse(this.responseText);
            console.log(body.msg);
          }
        };
        xhttp.open("POST", "/tutorall/api/verify", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(params));
      }
      function startRoom() {
        if (document.getElementById("topic").value == "") {
          document.getElementById("errormsg").innerHTML = "Please choose topic";
        }
        var xhttp = new XMLHttpRequest();
        params = {
          teacher: username,
          topic: document.getElementById("topic").value
        };
        console.log(params);
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            res = JSON.parse(this.responseText);
            console.log(res.newRoom._id);
            window.location.replace(`/tutorall/teach/${res.newRoom._id}`);
          }
        };
        xhttp.open("POST", "/tutorall/api/createroom", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(params));
      }

      function getRooms() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            body = JSON.parse(this.responseText);
            rooms = body;
            displayRooms(rooms);
          }
        };
        xhttp.open("GET", "/tutorall/api/getrooms", true);
        xhttp.send();
      }
      getRooms();

      function displayRooms(values) {
        for (i = 0; i < values.length; i++) {
          document.getElementById("rooms").innerHTML +=
            "<p>Teacher: " + values[i].teacher + "</p>";
          document.getElementById("rooms").innerHTML +=
            "<p>Topic: " + values[i].topic + "</p>";
          document.getElementById("rooms").innerHTML +=
            '<a href="/tutorall/learn/' + values[i]._id + '"> Join room </a>';
          document.getElementById("rooms").innerHTML +=
            '<div class="line"></div>';
        }
      }
    </script>
  </body>
</html>
